# -------------------------
# React Frontend (topalbums-ui)
# -------------------------

topalbums-ui/node_modules/
topalbums-ui/.pnp/
topalbums-ui/.pnp.js
topalbums-ui/coverage/
topalbums-ui/build/
topalbums-ui/.env.local
topalbums-ui/.env.development.local
topalbums-ui/.env.test.local
topalbums-ui/.env.production.local
topalbums-ui/npm-debug.log*
topalbums-ui/yarn-debug.log*
topalbums-ui/yarn-error.log*

# -------------------------
# Spring Boot Backend (topalbums)
# -------------------------

topalbums/HELP.md
topalbums/target/
!topalbums/**/src/main/**/target/
!topalbums/**/src/test/**/target/

# Eclipse/STS
topalbums/.apt_generated
topalbums/.classpath
topalbums/.factorypath
topalbums/.project
topalbums/.settings
topalbums/.springBeans
topalbums/.sts4-cache

# IntelliJ
topalbums/.idea/
topalbums/*.iws
topalbums/*.iml
topalbums/*.ipr

# NetBeans
topalbums/nbproject/private/
topalbums/nbbuild/
topalbums/dist/
topalbums/nbdist/
topalbums/.nb-gradle/
topalbums/build/
!topalbums/**/src/main/**/build/
!topalbums/**/src/test/**/build/

# -------------------------
# General / OS / Editors
# -------------------------

.DS_Store
.vscode/
