# -------------------------
# React Frontend (topalbums-ui)
# -------------------------

topalbums-ui/node_modules/
topalbums-ui/.pnp/
topalbums-ui/.pnp.js
topalbums-ui/coverage/
topalbums-ui/build/
topalbums-ui/.env.local
topalbums-ui/.env.development.local
topalbums-ui/.env.test.local
topalbums-ui/.env.production.local
topalbums-ui/npm-debug.log*
topalbums-ui/yarn-debug.log*
topalbums-ui/yarn-error.log*

# -------------------------
# Spring Boot Backend (topalbums)
# -------------------------

topalbums-backend/HELP.md
topalbums-backend/target/
!topalbums-backend/**/src/main/**/target/
!topalbums-backend/**/src/test/**/target/

# Eclipse/STS
topalbums-backend/.apt_generated
topalbums-backend/.classpath
topalbums-backend/.factorypath
topalbums-backend/.project
topalbums-backend/.settings
topalbums-backend/.springBeans
topalbums-backend/.sts4-cache

# IntelliJ project-wide
.idea/
*.iml
*.ipr
*.iws

# NetBeans
topalbums-backend/nbproject/private/
topalbums-backend/nbbuild/
topalbums-backend/dist/
topalbums-backend/nbdist/
topalbums-backend/.nb-gradle/
topalbums-backend/build/
!topalbums-backend/**/src/main/**/build/
!topalbums-backend/**/src/test/**/build/

# -------------------------
# General / OS / Editors
# -------------------------

.DS_Store
.vscode/
